.ui-li-heading {
    display: block;
    font-size: 16px;
    font-weight: bold;
    margin: 0.6em 0;
    overflow: hidden;
    white-space: nowrap;
}

.ui-li .ui-btn-inner {
    display: block;
    padding: 0.0em 75px 0.0em 15px;
    position: relative;
}

.ui-title h1{
	display:inline;
	
	
} 

.ui-header img {
	margin: 0px auto;
} 

.ui-icon-loading {
	background: url('../images/imbored_logo.png');
	background-color: white;
	color:white;
}  


.imbored-text {
	font-family: 'Corben', arial, serif;
	font-size: 2.5em !important;
	margin: 0px !important;
	font-weight: normal;
} 





