header img{
	float:left;
	margin-top: 5px;
}

header h1 {
	float:left;
}

header a.nextNav {
	right:10px;
	left:auto;
}

header a#settings {
	right:10px;
	left:auto;
}

header a.prevNav {
	left:10px;
	right:auto;
}