/**
 * IMBored
 *
 * Styles for imbored mobile frontend
 */

/*
 * Older browsers ignores the handheld media attribute of the link element and
 * applies the style sheet anyway, to prevent this we qualify all styles with
 * the @media handheld selector.
 * see http://perishablepress.com/press/2009/08/02/the-5-minute-css-mobile-makeover/ 
 */
/*
@media handheld {
 
}
*/

/*
 * Reset
 */

/* 
 * Merged with:
 * http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/


h1,h2,h3,h4,h5,h6 { font-weight: normal; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
 * Some base values
 */

body { 
    background: #fff; 
    color: #000;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    word-wrap: break-word;
    padding: 3px;
    
}

h1 {
    font-size: 1.76em;
}

h2 {
    font-size: 1.62em;
}

h3 {
    font-size: 1.54em;
}

h4 {
    font-size: 1.46em;
}

h5 {
    font-size: 1.38em;
}

h6 {
    font-size: 1.30em;
}

p img {
    float: left;
    margin: 0 10px 5px 0;
    padding: 0;
}

img {
    border: 0;
    max-width: 100%;
}


#main {
    background-image: url(../images/bg_gradient.png);
    background-repeat: repeat-x;
    border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0;
}

#main header {
    background-image: url(../images/header_gradient.png);
    background-color: #000;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

#main header > h1 {
    margin: 0 auto;
    color: #fff;
    text-align: center;
    font-size: 2.5em;
}
/**
 * Controlpanel
 */ 

#spinner {
   
   margin-left:300px; 
   text-align: center;
   overflow: auto; 
   margin-top: 50px;
   width: 50px;
   margin: 0 auto;
}

#controlpanel {
    padding: 10px 0;
}

#find_activity {
    display: block;
    text-decoration: none;
    color: #fff;
    margin: 0 auto;
    text-align: center;
    width:140px;
    background-image: url('../images/find_activity_gradient.png');
    background-color: #000;
    background-repeat: repeat-x;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    margin: 0 auto;
    padding: 5px 10px;
    font-size: 20px;
}

#find_activity:after {
    color: #fff;
    content: " >>";
}

#find_activity:link,
#find_activity:visited,
#find_activity:hover,
#find_activity:active,
{
    color: #fff;
}

#logo {
	
	float:left;
    display:block;
	overflow: hidden;
	
	
}

.settings {
    font-family:'Arial',sans-serif;
	text-decoration:none; 
	margin: 0 auto;
    font-size:12pt;
	margin-left: 800px;
    font-weight:bold;
    padding:3px 10px 3px 10px;
    outline-width:0;
    border:1px solid #000;
    border-radius:20px;
    -moz-border-radius:20px;
    -webkit-border-radius:20px;
    box-shadow:0 1px 3px rgba(0, 0, 0, 0.5), inset 0px 1px 0px rgba(255, 255, 255, 0.5);            
    -moz-box-shadow:0px 1px 3px rgba(0, 0, 0, 0.5), inset 0px 1px 0px rgba(255, 255, 255, 0.5);
    -webkit-box-shadow:0px 1px 3px rgba(0, 0, 0, 0.5);
    transition:background-color 0.2s ease-in-out, color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    -moz-transition:background-color 0.2s ease-in-out, color 0.2s ease-in-out, -moz-box-shadow 0.2s ease-in-out;
    -webkit-transition:background-color 0.2s ease-in-out, color 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in-out;
    -o-transition:background-color 0.2s ease-in-out, color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    background-image:-webkit-gradient(linear, left top, left bottom,
        color-stop(0.0, rgba(255, 255, 255, 0.8)),
        color-stop(0.01, rgba(255, 255, 255, 0.6)),
        color-stop(0.4, rgba(255, 255, 255, 0.3)),
        color-stop(0.4, rgba(255, 255, 255, 0.2)),
        color-stop(1.0, rgba(255, 255, 255, 0.0)));
    background-image:-moz-linear-gradient(top,
        rgba(255, 255, 255, 0.6) 0%,
        rgba(255, 255, 255, 0.3) 40%,
        rgba(255, 255, 255, 0.2) 40%,
        rgba(255, 255, 255, 0.0) 100%);
    background-color:#444;
    color:#fff;
    text-shadow:rgba(0, 0, 0, 0.5) 0px -1px 0px;
}
.settings:hover, button.sexy:focus {
    box-shadow:0 1px 3px rgba(0, 0, 0, 0.9), inset 0px 1px 0px rgba(255, 255, 255, 0.5);
    -moz-box-shadow:0px 1px 3px rgba(0, 0, 0, 0.9), inset 0px 1px 0px rgba(255, 255, 255, 0.5);
    -webkit-box-shadow:0px 1px 3px rgba(0, 0, 0, 0.9);
    background-color:#666;
    color:#fff;
}
.settings:active {
    background-color:#222;
    color:#ccc;
    transition-duration:0.0s;
    -moz-transition-duration:0.0s;
    -webkit-transition-duration:0.0s;
    -o-transition-duration:0.0s; 
}

#settings_form {
	margin: 0 auto;
	width: 300px; 
	
	
} 

#settings_back {
	font-size: 20px;
	text-decoration: none;
}

#main {
	/**display: none;
	**/
}

input:not(:focus), textarea:not(:focus)

div.button_body { 
    position: relative;  
    height: 26px; 
    width: 45px; 
    border: 1px solid rgba(0,0,0, 0.4);  
	    -webkit-border-radius: 5px; 
	    background: -webkit-gradient(linear, left top, left bottom, from(#9fb3cc), to(#5b80ab), color-stop(0.5, #6b8bb2), color-stop(0.51, #597eaa)); 
	    -webkit-box-shadow: 0 1px 0 rgba(255,255,255, 0.25), inset 0 1px 1px rgba(0,0,0, 0.2);
}

div.button_body div {
    position: absolute; 
    z-index: 1; 
    top: 4px; 
    left: -7px; 
    -webkit-transform: rotate(51deg);
} 

div.button_body span { 
    -webkit-transform: skew(15deg);
    display: block; 
    width: 15px; 
    height: 16px; 
    background: -webkit-gradient(linear, left top, right bottom, from(#9fb3cc), to(#5b80ab), color-stop(0.5, #6b8bb2), color-stop(0.51, #597eaa));   
    -webkit-border-radius: 1px; 
    border: 1px solid rgba(0,0,0, 0.4); 
    border-right: 0; 
    border-top: 0;
    -webkit-box-shadow: 0 1px 0 rgba(255,255,255, 0.25);
} 

div.body p { 
    position: absolute; 
    z-index: 2; 
    top: 5px; 
    left: 5px; 
    margin: 0; 
    padding: 0; 
    font-size: 12px; 
    font-weight: bold; 
    color: #fff; 
    text-shadow: 0 -1px 0 rgba(0,0,0, 0.4);
}

div.bar { 
    position: relative;
    height: 42px;
    border: 1px solid #cad6e2;
    border-bottom-color: #22374a; 
    border-right: 0;
    border-left: 0;
    text-align: center;
    background: -webkit-gradient(linear, left top,left bottom, from(#afbbcb), to(#6e86a4), color-stop(0.48, #8b9db5), color-stop(0.5, #8195af));
    -webkit-border-top-right-radius: 3px;
    -webkit-border-top-left-radius: 3px;
}


/**
 * Event list and events 
 */

#event_wrapper {
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    padding: 10px;
    height: 100%;
    margin: 0 5px;
    background: #eee;
}

#events .vevent {
    border-bottom: 1px dotted #333;
    padding-bottom: 10px;
}

#events .dtstart {
    font-family: Georgia, serif;
    font-size: 0.76em;
    color: #333;
    background-color: #bbb;
    padding: 4px;
}

/* Not very useful for the user to see, duration is mostly to follow the microformats hCalendar spec*/
#events .duration {
    display: none;
}

#events .vevent h1 {
    font-family: Helvetica, Arial, sans-serif;
}

#events .vevent p {
    font-family: Georgia, serif;
}